<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}" th:text="#{nav.brand}">Student Management</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navMain">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{/}" th:text="#{nav.home}">Home</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/students}" th:text="#{nav.students}">Students</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/students/new}" th:text="#{nav.create}">Create Student</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								🌐 <span th:text="#{lang.change}">Language</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
								<li><a class="dropdown-item" th:href="@{''(lang='en')}" th:text="#{lang.eng}">English</a></li>
								<li><a class="dropdown-item" th:href="@{''(lang='ja')}" th:text="#{lang.ja}">Japanese</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
        
		<main class="py-5">